FORMAT: 1A
HOST: https://api.gettyimages.com
# Getty Images API

Build applications using the world's most powerful imagery. Our RESTful APIs are supported with [technical documentation](http://developers.gettyimages.com/api/docs/), [sample code](https://github.com/gettyimages/gettyimages-api/tree/master/code-samples) and [SDKs](http://developers.gettyimages.com/api/docs//v3/sdks.html) so you can get up and running quickly.

## Group Search

#### Search for events [GET /v3/search/events]

+ Parameters

    + editorial_segment: archival,entertainment,news,publicity,royalty,sport (required)
    
    + date_from
    
    + date_to
    
    + fields: id,child_event_count,editorial_segments,hero_image,image_count,location,name,start_date,type

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {
              "events": [
                {
                  "child_event_count": 97567878,
                  "start_date": "4339-07-03T04:02:36.356Z",
                  "editorial_segments": [
                    "nisi eu exercitation qui nulla"
                  ],
                  "id": -71108207,
                  "hero_image": {
                    "id": "occaecat id Ut",
                    "display_sizes": [
                      {
                        "uri": "incididunt in ipsum nisi ea",
                        "name": "ut veniam",
                        "is_watermarked": false
                      },
                      {},
                      {
                        "name": "occaecat minim ullamco est"
                      },
                      {
                        "is_watermarked": true,
                        "name": "sed"
                      }
                    ]
                  },
                  "location": {
                    "city": "Duis",
                    "venue": "sed",
                    "state_province": "Excepteur aute voluptate"
                  }
                },
                {
                  "child_event_count": -2157215,
                  "location": {
                    "state_province": "anim sint laborum adipisicing magna",
                    "venue": "Lorem esse",
                    "country": "proident"
                  },
                  "id": 45215239
                },
                {
                  "hero_image": {
                    "id": "fugiat laborum"
                  },
                  "id": 20683760
                }
              ]
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "events": {
                  "description": "Lists the event ids matching the search criteria.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "child_event_count": {
                        "format": "int32",
                        "description": "Specifies the count of children events associated with this event.",
                        "type": "integer"
                      },
                      "editorial_segments": {
                        "description": "Lists the editorial segments for this asset. Possible values are archival, entertainment, news, publicity, royalty, sport.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "hero_image": {
                        "description": "Spcifies the image that best captures the event.",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Specifies the image id of the image that best captures the associated group of images.",
                            "type": "string"
                          },
                          "display_sizes": {
                            "description": "Lists the display sizes available for this image.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "description": "Specifies the name of the display size.",
                                  "type": "string"
                                },
                                "is_watermarked": {
                                  "description": "Specifies whether the image is watermarked.",
                                  "type": "boolean"
                                },
                                "uri": {
                                  "description": "GET this URI to retrieve the display size image.",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "id": {
                        "format": "int32",
                        "description": "Specifies the unique identifier for the event.",
                        "type": "integer"
                      },
                      "image_count": {
                        "format": "int32",
                        "description": "Specifies the count of images associated with event.",
                        "type": "integer"
                      },
                      "location": {
                        "description": "Specifies the location where the event took place.",
                        "type": "object",
                        "properties": {
                          "city": {
                            "description": "Specifies the city where the event took place.",
                            "type": "string"
                          },
                          "country": {
                            "description": "Specifies the country where the event took place.",
                            "type": "string"
                          },
                          "state_province": {
                            "description": "Specifies the state or province where the event took place.",
                            "type": "string"
                          },
                          "venue": {
                            "description": "Specifies the venue where the event took place.",
                            "type": "string"
                          }
                        }
                      },
                      "name": {
                        "description": "Specifies the name of the event.",
                        "type": "string"
                      },
                      "start_date": {
                        "format": "date-time",
                        "description": "Specifies the start date of event, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 400 (application/json)

    InvalidParameterValue

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 401 (application/json)

    AuthorizationTokenRequired

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 403 (application/json)

    UnauthorizedDisplaySize

    + Body

#### Search for both creative and editorial images [GET /v3/search/images]

+ Parameters

    + age_of_people: newborn,baby,child,teenager,young_adult,adult,adults_only,mature_adult,senior_adult,months_0_1,months_2_5,months_6_11,months_12_17,months_18_23,years_2_3,years_4_5,years_6_7,years_8_9,years_10_11,years_12_13,years_14_15,years_16_17,years_18_19,years_20_24,years_20_29,years_25_29,years_30_34,years_30_39,years_35_39,years_40_44,years_40_49,years_45_49,years_50_54,years_50_59,years_55_59,years_60_64,years_60_69,years_65_69,years_70_79,years_80_89,over_90,over_100
    
    + artists
    
    + collection_codes: 
    
    + collections_filter_type: include,exclude
    
    + color
    
    + compositions: abstract,candid,close_up,copy_space,cut_out,full_frame,full_length,headshot,looking_at_camera,macro,portrait,sparse,still_life,three_quarter_length,waist_up
    
    + embed_content_only
    
    + ethnicity: black,caucasian,east_asian,hispanic_latino,japanese,middle_eastern,mixed_race_person,multiethnic_group,native_american_first_nations,pacific_islander,south_asian,southeast_asian
    
    + event_ids: 
    
    + exclude_nudity
    
    + fields: accessrestriction,allowed_use,alternative_ids,artist,asset_family,call_for_image,caption,collection_code,collection_id,collection_name,color_type,comp,copyright,date_camera_shot,date_created,detail_set,display_set,editorial_segments,editorial_source,event_ids,graphical_style,id,keywords,largest_downloads,license_model,max_dimensions,orientation,people,prestige,preview,product_types,quality_rank,referral_destinations,summary_set,thumb,title,uri_oembed
    
    + file_types: eps,gif,jpg,png
    
    + graphical_styles: fine_art,illustration,photography
    
    + keyword_ids: 
    
    + license_models: rights_managed,royalty_free
    
    + number_of_people: none,one,two,group
    
    + orientations: horizontal,vertical,square,panoramic_horizontal,panoramic_vertical
    
    + page
    
    + page_size
    
    + phrase
    
    + prestige_content_only
    
    + product_types: easy_access,editorial_subscription,image_pack,premium_access,royalty_free_subscription,credit_pack
    
    + sort_order: best_match,most_popular,newest
    
    + specific_people: 

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {
              "result_count": -86205183
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "result_count": {
                  "format": "int32",
                  "description": "Specifies the count of matching images returned.",
                  "type": "integer"
                },
                "images": {
                  "description": "List of image search results.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "allowed_use": {
                        "description": "Specifies how customers are allowed to use the image.",
                        "type": "object",
                        "properties": {
                          "how_can_i_use_it": {
                            "description": "Specifies how the asset can be used.",
                            "type": "string"
                          },
                          "release_info": {
                            "description": "Specifies the release status.",
                            "type": "string"
                          },
                          "usage_restrictions": {
                            "description": "Specifies the asset usage restriction.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "alternative_ids": {
                        "description": "Lists all of the alternative ids for the asset.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Key": {
                              "type": "string"
                            },
                            "Value": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "artist": {
                        "description": "Specifies image creator.",
                        "type": "string"
                      },
                      "asset_family": {
                        "description": "Indicates the asset family classification. Possible values are: creative, editorial.",
                        "type": "string"
                      },
                      "call_for_image": {
                        "description": "Indicates whether a customer needs to call Getty Images in order to license this image.",
                        "type": "boolean"
                      },
                      "caption": {
                        "description": "Gives a brief description of the image.",
                        "type": "string"
                      },
                      "collection_code": {
                        "description": "Specifies the code of the collection to which the image belongs.",
                        "type": "string"
                      },
                      "collection_id": {
                        "format": "int32",
                        "description": "Specifies the id of the collection to which the image belongs.",
                        "type": "integer"
                      },
                      "collection_name": {
                        "description": "Specifies the name of the collection to which the image belongs.",
                        "type": "string"
                      },
                      "color_type": {
                        "description": "Specifies whether the image or video is color or black and white. Possible values are color, black_and_white, and null.",
                        "type": "string"
                      },
                      "copyright": {
                        "description": "Specifies the copyright of the image.",
                        "type": "string"
                      },
                      "date_camera_shot": {
                        "format": "date-time",
                        "description": "Specifies the date the image was shot, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "date_created": {
                        "format": "date-time",
                        "description": "Specifies the date the image was created, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "display_sizes": {
                        "description": "Lists the display sizes available for this image.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "is_watermarked": {
                              "description": "Specifies whether the image is watermarked.",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Specifies the name of the display size.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve the display size image.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "editorial_segments": {
                        "description": "Lists the editorial segments for this asset. Possible values are archival, entertainment, news, publicity, royalty, sport.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "event_ids": {
                        "description": "Lists the events that are relevant for this image.",
                        "type": "array",
                        "items": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "graphical_style": {
                        "description": "Specifies the graphical style for the image. Possible values are Photography, Fine Art, and Illustration.",
                        "type": "string"
                      },
                      "id": {
                        "description": "Specifies the unique identifier for the image.",
                        "type": "string"
                      },
                      "keywords": {
                        "description": "Lists the keywords that are associated with this image.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "keyword_id": {
                              "description": "Specifies the unique identifier for the keyword.",
                              "type": "string"
                            },
                            "text": {
                              "description": "Provides localized text of the keyword.",
                              "type": "string"
                            },
                            "type": {
                              "description": "Specifies the keyword type.",
                              "type": "string"
                            },
                            "relevance": {
                              "format": "int32",
                              "description": "Specifies the relevancy of the keyword to the asset. 0-5 or null, 5 being most relevant.",
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "largest_downloads": {
                        "description": "Lists the available largest download sizes.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "product_id": {
                              "description": "Specifies the given product based on a company agreement. Applies only to royaltyfreesubscription and imagepack.",
                              "type": "string"
                            },
                            "product_type": {
                              "description": "Specifies the license agreement applied to this download. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack, sandbox.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "POST this URI to download the asset.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "license_model": {
                        "description": "Specifies the licensing model for the image. Possible values are: royaltyfree, rightsmanaged.",
                        "type": "string"
                      },
                      "max_dimensions": {
                        "description": "Specifies the maximum height and width of any size for this image.",
                        "type": "object",
                        "properties": {
                          "height": {
                            "format": "int32",
                            "description": "Specifies the height in pixels.",
                            "type": "integer"
                          },
                          "width": {
                            "format": "int32",
                            "description": "Specifies the width in pixels.",
                            "type": "integer"
                          }
                        }
                      },
                      "orientation": {
                        "description": "Specifies the orientation of the image. Possible values are: Horizontal, PanoramicHorizontal, PanoramicVertical, Square, Vertical, and null.",
                        "type": "string"
                      },
                      "people": {
                        "description": "List of people appearing in the image.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "prestige": {
                        "description": "Specifies the image is in the curated Prestige collection.",
                        "type": "boolean"
                      },
                      "product_types": {
                        "description": "Lists the product types for the image. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "quality_rank": {
                        "format": "int32",
                        "description": "Specifies the quality ranking of the image.",
                        "type": "integer"
                      },
                      "referral_destinations": {
                        "description": "Lists the referral destinations for Getty Images assets.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "site_name": {
                              "description": "Specifies the asset domain name.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve appropriate referral destination data.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "title": {
                        "description": "Specifies the image title.",
                        "type": "string"
                      },
                      "uri_oembed": {
                        "description": "GET this URI to retrieve oEmbed data for the image, if embeddable.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 400 (application/json)

    InvalidParameterValue

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 401 (application/json)

    AuthorizationTokenRequired

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 403 (application/json)

    UnauthorizedDisplaySize

    + Body

#### Search for creative images only [GET /v3/search/images/creative]

+ Parameters

    + age_of_people: newborn,baby,child,teenager,young_adult,adult,adults_only,mature_adult,senior_adult,months_0_1,months_2_5,months_6_11,months_12_17,months_18_23,years_2_3,years_4_5,years_6_7,years_8_9,years_10_11,years_12_13,years_14_15,years_16_17,years_18_19,years_20_24,years_20_29,years_25_29,years_30_34,years_30_39,years_35_39,years_40_44,years_40_49,years_45_49,years_50_54,years_50_59,years_55_59,years_60_64,years_60_69,years_65_69,years_70_79,years_80_89,over_90,over_100
    
    + artists
    
    + collection_codes: 
    
    + collections_filter_type: include,exclude
    
    + color
    
    + compositions: abstract,candid,close_up,copy_space,cut_out,full_frame,full_length,headshot,looking_at_camera,macro,portrait,sparse,still_life,three_quarter_length,waist_up
    
    + embed_content_only
    
    + ethnicity: black,caucasian,east_asian,hispanic_latino,japanese,middle_eastern,mixed_race_person,multiethnic_group,native_american_first_nations,pacific_islander,south_asian,southeast_asian
    
    + exclude_nudity
    
    + fields: allowed_use,alternative_ids,artist,asset_family,call_for_image,caption,collection_code,collection_id,collection_name,color_type,comp,copyright,date_camera_shot,date_created,detail_set,display_set,graphical_style,id,keywords,largest_downloads,license_model,max_dimensions,orientation,prestige,preview,product_types,quality_rank,referral_destinations,summary_set,thumb,title,uri_oembed
    
    + file_types: eps,gif,jpg,png
    
    + graphical_styles: fine_art,illustration,photography
    
    + keyword_ids: 
    
    + license_models: rights_managed,royalty_free
    
    + number_of_people: none,one,two,group
    
    + orientations: horizontal,vertical,square,panoramic_horizontal,panoramic_vertical
    
    + page
    
    + page_size
    
    + phrase
    
    + prestige_content_only
    
    + product_types: easy_access,editorial_subscription,image_pack,premium_access,royalty_free_subscription,credit_pack
    
    + sort_order: best_match,most_popular,newest

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {
              "result_count": -47932046
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "result_count": {
                  "format": "int32",
                  "description": "Specifies the count of matching images returned.",
                  "type": "integer"
                },
                "images": {
                  "description": "List of image search results.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "allowed_use": {
                        "description": "Specifies how customers are allowed to use the image.",
                        "type": "object",
                        "properties": {
                          "how_can_i_use_it": {
                            "description": "Specifies how the asset can be used.",
                            "type": "string"
                          },
                          "release_info": {
                            "description": "Specifies the release status.",
                            "type": "string"
                          },
                          "usage_restrictions": {
                            "description": "Specifies the asset usage restriction.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "alternative_ids": {
                        "description": "Lists all of the alternative ids for the asset.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Key": {
                              "type": "string"
                            },
                            "Value": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "artist": {
                        "description": "Specifies image creator.",
                        "type": "string"
                      },
                      "asset_family": {
                        "description": "Indicates the asset family classification. Possible values are: creative, editorial.",
                        "type": "string"
                      },
                      "call_for_image": {
                        "description": "Indicates whether a customer needs to call Getty Images in order to license this image.",
                        "type": "boolean"
                      },
                      "caption": {
                        "description": "Gives a brief description of the image.",
                        "type": "string"
                      },
                      "collection_code": {
                        "description": "Specifies the code of the collection to which the image belongs.",
                        "type": "string"
                      },
                      "collection_id": {
                        "format": "int32",
                        "description": "Specifies the id of the collection to which the image belongs.",
                        "type": "integer"
                      },
                      "collection_name": {
                        "description": "Specifies the name of the collection to which the image belongs.",
                        "type": "string"
                      },
                      "color_type": {
                        "description": "Specifies whether the image or video is color or black and white. Possible values are color, black_and_white, and null.",
                        "type": "string"
                      },
                      "copyright": {
                        "description": "Specifies the copyright of the image.",
                        "type": "string"
                      },
                      "date_camera_shot": {
                        "format": "date-time",
                        "description": "Specifies the date the image was shot, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "date_created": {
                        "format": "date-time",
                        "description": "Specifies the date the image was created, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "display_sizes": {
                        "description": "Lists the display sizes available for this image.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "is_watermarked": {
                              "description": "Specifies whether the image is watermarked.",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Specifies the name of the display size.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve the display size image.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "graphical_style": {
                        "description": "Specifies the graphical style for the image. Possible values are Photography, Fine Art, and Illustration.",
                        "type": "string"
                      },
                      "id": {
                        "description": "Specifies the unique identifier for the image.",
                        "type": "string"
                      },
                      "keywords": {
                        "description": "Lists the keywords that are associated with this image.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "keyword_id": {
                              "description": "Specifies the unique identifier for the keyword.",
                              "type": "string"
                            },
                            "text": {
                              "description": "Provides localized text of the keyword.",
                              "type": "string"
                            },
                            "type": {
                              "description": "Specifies the keyword type.",
                              "type": "string"
                            },
                            "relevance": {
                              "format": "int32",
                              "description": "Specifies the relevancy of the keyword to the asset. 0-5 or null, 5 being most relevant.",
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "largest_downloads": {
                        "description": "Lists the available largest download sizes.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "product_id": {
                              "description": "Specifies the given product based on a company agreement. Applies only to royaltyfreesubscription and imagepack.",
                              "type": "string"
                            },
                            "product_type": {
                              "description": "Specifies the license agreement applied to this download. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack, sandbox.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "POST this URI to download the asset.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "license_model": {
                        "description": "Specifies the licensing model for the image. Possible values are: royaltyfree, rightsmanaged.",
                        "type": "string"
                      },
                      "max_dimensions": {
                        "description": "Specifies the maximum height and width of any size for this image.",
                        "type": "object",
                        "properties": {
                          "height": {
                            "format": "int32",
                            "description": "Specifies the height in pixels.",
                            "type": "integer"
                          },
                          "width": {
                            "format": "int32",
                            "description": "Specifies the width in pixels.",
                            "type": "integer"
                          }
                        }
                      },
                      "orientation": {
                        "description": "Specifies the orientation of the image. Possible values are: Horizontal, PanoramicHorizontal, PanoramicVertical, Square, Vertical, and null.",
                        "type": "string"
                      },
                      "prestige": {
                        "description": "Specifies the image is in the curated Prestige collection.",
                        "type": "boolean"
                      },
                      "product_types": {
                        "description": "Lists the product types for the image. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "quality_rank": {
                        "format": "int32",
                        "description": "Assigned to editorial images to rank their relevance to the event they belong to. This number has no relevance for creative images even though it does appear in the metadata. Possible values are: 1 - most relevant, 2 - tells story from a wider perspective, 3 - stock/repeats/less important.",
                        "type": "integer"
                      },
                      "referral_destinations": {
                        "description": "Lists the referral destinations for Getty Images assets.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "site_name": {
                              "description": "Specifies the asset domain name.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve appropriate referral destination data.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "title": {
                        "description": "Specifies the image title.",
                        "type": "string"
                      },
                      "uri_oembed": {
                        "description": "GET this URI to retrieve the display image, if embeddable.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 400 (application/json)

    InvalidParameterValue

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 401 (application/json)

    AuthorizationTokenRequired

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 403 (application/json)

    UnauthorizedDisplaySize

    + Body

#### Search for editorial images only [GET /v3/search/images/editorial]

+ Parameters

    + age_of_people: newborn,baby,child,teenager,young_adult,adult,adults_only,mature_adult,senior_adult,months_0_1,months_2_5,months_6_11,months_12_17,months_18_23,years_2_3,years_4_5,years_6_7,years_8_9,years_10_11,years_12_13,years_14_15,years_16_17,years_18_19,years_20_24,years_20_29,years_25_29,years_30_34,years_30_39,years_35_39,years_40_44,years_40_49,years_45_49,years_50_54,years_50_59,years_55_59,years_60_64,years_60_69,years_65_69,years_70_79,years_80_89,over_90,over_100
    
    + artists
    
    + collection_codes: 
    
    + collections_filter_type: include,exclude
    
    + color
    
    + compositions: abstract,candid,close_up,copy_space,cut_out,full_frame,full_length,headshot,looking_at_camera,macro,portrait,sparse,still_life,three_quarter_length,waist_up
    
    + date_from
    
    + date_to
    
    + editorial_segments: archival,entertainment,news,publicity,royalty,sport
    
    + embed_content_only
    
    + entity_uris: 
    
    + ethnicity: black,caucasian,east_asian,hispanic_latino,japanese,middle_eastern,mixed_race_person,multiethnic_group,native_american_first_nations,pacific_islander,south_asian,southeast_asian
    
    + event_ids: 
    
    + exclude_nudity
    
    + fields: allowed_use,alternative_ids,artist,asset_family,call_for_image,caption,collection_code,collection_id,collection_name,color_type,comp,copyright,date_camera_shot,date_created,detail_set,display_set,editorial_segments,editorial_source,event_ids,graphical_style,id,keywords,largest_downloads,license_model,max_dimensions,orientation,people,preview,product_types,quality_rank,referral_destinations,summary_set,thumb,title,uri_oembed
    
    + file_types: eps,gif,jpg,png
    
    + graphical_styles: photography,illustration
    
    + keyword_ids: 
    
    + number_of_people: none,one,two,group
    
    + orientations: horizontal,vertical,square,panoramic_horizontal,panoramic_vertical
    
    + page
    
    + page_size
    
    + phrase
    
    + product_types: easy_access,editorial_subscription,image_pack,premium_access,royalty_free_subscription,credit_pack
    
    + sort_order: best_match,most_popular,newest,oldest
    
    + specific_people: 

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token]

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {
              "result_count": 47756180,
              "images": [
                {
                  "date_camera_shot": "4336-04-18T23:26:08.108Z",
                  "copyright": "id",
                  "asset_family": "minim labore elit voluptate irure",
                  "editorial_segments": [
                    "sint",
                    "occaecat consectetur et",
                    "veniam",
                    "ut magna quis"
                  ],
                  "orientation": "ut Excepteur Ut sit",
                  "event_ids": [
                    -62181497,
                    -18648453,
                    63669825,
                    71261966
                  ],
                  "artist": "dolore ad",
                  "quality_rank": -45867776,
                  "title": "reprehenderit nisi do",
                  "id": "do deserunt",
                  "call_for_image": true
                },
                {
                  "collection_name": "mollit Ut aute in fugiat",
                  "max_dimensions": {
                    "height": 21254638,
                    "width": -65215499
                  },
                  "display_sizes": [
                    {
                      "name": "proident fugiat",
                      "is_watermarked": true
                    },
                    {
                      "uri": "ut sint labore",
                      "name": "pariatur sint dolore exercitat",
                      "is_watermarked": true
                    },
                    {
                      "name": "labore sunt magna est",
                      "uri": "id minim",
                      "is_watermarked": false
                    },
                    {
                      "uri": "sed labore ullamco amet in",
                      "name": "id",
                      "is_watermarked": true
                    },
                    {
                      "name": "sint proident enim",
                      "is_watermarked": true
                    }
                  ],
                  "graphical_style": "amet ut ex",
                  "asset_family": "dolore laboris",
                  "allowed_use": {
                    "usage_restrictions": [
                      "irure sit id sed in",
                      "dolore culpa eiusmod",
                      "consectetur ut"
                    ]
                  },
                  "collection_code": "aliqua ipsum mollit incididunt",
                  "call_for_image": true,
                  "editorial_source": {
                    "id": 5025638
                  },
                  "largest_downloads": [
                    {
                      "uri": "ex voluptate et Excepteur",
                      "product_id": "sed laborum sunt et"
                    },
                    {
                      "product_type": "qui laboris elit deserunt"
                    },
                    {
                      "product_type": "eu ea",
                      "product_id": "elit",
                      "uri": "culpa irure cillum exercitation elit"
                    },
                    {
                      "product_type": "ad irure culpa sit"
                    },
                    {
                      "product_type": "ipsum tempor anim adipisicing",
                      "uri": "et dolor veniam"
                    }
                  ],
                  "copyright": "eiusmod qui",
                  "quality_rank": 8379260,
                  "referral_destinations": [
                    {},
                    {}
                  ],
                  "uri_oembed": "ut aliquip id consequat",
                  "color_type": "exercitation tempor consectetur culpa",
                  "editorial_segments": [
                    "enim in deserunt magna",
                    "deserunt ea",
                    "velit ipsum mollit",
                    "sint quis ut labore pariatur"
                  ],
                  "artist": "adipisicing",
                  "license_model": "irure dolore",
                  "date_created": "3057-01-14T07:14:24.874Z",
                  "event_ids": [
                    88334395
                  ],
                  "date_camera_shot": "2789-10-14T00:34:06.306Z",
                  "collection_id": 15034839,
                  "alternative_ids": [
                    {
                      "Key": "i"
                    },
                    {
                      "Value": "in",
                      "Key": "irure veniam Duis non"
                    }
                  ],
                  "keywords": [
                    {
                      "keyword_id": "commodo amet"
                    }
                  ],
                  "product_types": [
                    "Excepteur sed",
                    "nisi"
                  ]
                }
              ]
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "result_count": {
                  "format": "int32",
                  "description": "Specifies the count of matching images returned.",
                  "type": "integer"
                },
                "images": {
                  "description": "List of image search results.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "allowed_use": {
                        "description": "Specifies how customers are allowed to use the image.",
                        "type": "object",
                        "properties": {
                          "how_can_i_use_it": {
                            "description": "Specifies how the asset can be used.",
                            "type": "string"
                          },
                          "release_info": {
                            "description": "Specifies the release status.",
                            "type": "string"
                          },
                          "usage_restrictions": {
                            "description": "Specifies the asset usage restriction.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "alternative_ids": {
                        "description": "Lists all of the alternative ids for the asset.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Key": {
                              "type": "string"
                            },
                            "Value": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "artist": {
                        "description": "Specifies image creator.",
                        "type": "string"
                      },
                      "asset_family": {
                        "description": "Indicates the asset family classification. Possible values are: creative, editorial.",
                        "type": "string"
                      },
                      "call_for_image": {
                        "description": "Indicates whether a customer needs to call Getty Images in order to license this image.",
                        "type": "boolean"
                      },
                      "caption": {
                        "description": "Gives a brief description of the image.",
                        "type": "string"
                      },
                      "collection_code": {
                        "description": "Specifies the code of the collection to which the image belongs.",
                        "type": "string"
                      },
                      "collection_id": {
                        "format": "int32",
                        "description": "Specifies the id of the collection to which the image belongs.",
                        "type": "integer"
                      },
                      "collection_name": {
                        "description": "Specifies the name of the collection to which the image belongs.",
                        "type": "string"
                      },
                      "color_type": {
                        "description": "Specifies whether the image or video is color or black and white. Possible values are color, black_and_white, and null.",
                        "type": "string"
                      },
                      "copyright": {
                        "description": "Specifies the copyright of the image.",
                        "type": "string"
                      },
                      "date_camera_shot": {
                        "format": "date-time",
                        "description": "Specifies the date the image was shot, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "date_created": {
                        "format": "date-time",
                        "description": "Specifies the date the image was created, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "display_sizes": {
                        "description": "Lists the display sizes available for this image.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "is_watermarked": {
                              "description": "Specifies whether the image is watermarked.",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Specifies the name of the display size.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve the display size image.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "editorial_segments": {
                        "description": "Lists the editorial segments for this asset. Possible values are archival, entertainment, news, publicity, royalty, sport.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "editorial_source": {
                        "description": "Specifies the editorial source of the image",
                        "type": "object",
                        "properties": {
                          "id": {
                            "format": "int32",
                            "description": "Specifies the editorial source id of the image",
                            "type": "integer"
                          }
                        }
                      },
                      "event_ids": {
                        "description": "Lists the events that are relevant for this image.",
                        "type": "array",
                        "items": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "graphical_style": {
                        "description": "Specifies the graphical style for the image. Possible values are Photography, Fine Art, and Illustration.",
                        "type": "string"
                      },
                      "id": {
                        "description": "Specifies the unique identifier for the image.",
                        "type": "string"
                      },
                      "keywords": {
                        "description": "Lists the keywords that are associated with this image.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "keyword_id": {
                              "description": "Specifies the unique identifier for the keyword.",
                              "type": "string"
                            },
                            "text": {
                              "description": "Provides localized text of the keyword.",
                              "type": "string"
                            },
                            "type": {
                              "description": "Specifies the keyword type.",
                              "type": "string"
                            },
                            "relevance": {
                              "format": "int32",
                              "description": "Specifies the relevancy of the keyword to the asset. 0-5 or null, 5 being most relevant.",
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "largest_downloads": {
                        "description": "Lists the available largest download sizes.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "product_id": {
                              "description": "Specifies the given product based on a company agreement. Applies only to royaltyfreesubscription and imagepack.",
                              "type": "string"
                            },
                            "product_type": {
                              "description": "Specifies the license agreement applied to this download. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack, sandbox.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "POST this URI to download the asset.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "license_model": {
                        "description": "Specifies the licensing model for the image. Possible values are: royaltyfree, rightsmanaged.",
                        "type": "string"
                      },
                      "max_dimensions": {
                        "description": "Specifies the maximum height and width of any size for this image.",
                        "type": "object",
                        "properties": {
                          "height": {
                            "format": "int32",
                            "description": "Specifies the height in pixels.",
                            "type": "integer"
                          },
                          "width": {
                            "format": "int32",
                            "description": "Specifies the width in pixels.",
                            "type": "integer"
                          }
                        }
                      },
                      "orientation": {
                        "description": "Specifies the orientation of the image. Possible values are: Horizontal, PanoramicHorizontal, PanoramicVertical, Square, Vertical, and null.",
                        "type": "string"
                      },
                      "people": {
                        "description": "List of people appearing in the image.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "product_types": {
                        "description": "Lists the product types for the image. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "quality_rank": {
                        "format": "int32",
                        "description": "Specifies the quality ranking of the image.",
                        "type": "integer"
                      },
                      "referral_destinations": {
                        "description": "Lists the referral destinations for Getty Images assets.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "site_name": {
                              "description": "Specifies the asset domain name.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve appropriate referral destination data.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "title": {
                        "description": "Specifies the image title.",
                        "type": "string"
                      },
                      "uri_oembed": {
                        "description": "GET this URI to retrieve oEmbed data for the image, if embeddable.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 400 (application/json)

    InvalidParameterValue

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 401 (application/json)

    AuthorizationTokenRequired

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 403 (application/json)

    UnauthorizedDisplaySize

    + Body

#### Search for both creative and editorial videos [GET /v3/search/videos]

+ Parameters

    + age_of_people: newborn,baby,child,teenager,young_adult,adult,adults_only,mature_adult,senior_adult,months_0_1,months_2_5,months_6_11,months_12_17,months_18_23,years_2_3,years_4_5,years_6_7,years_8_9,years_10_11,years_12_13,years_14_15,years_16_17,years_18_19,years_20_24,years_20_29,years_25_29,years_30_34,years_30_39,years_35_39,years_40_44,years_40_49,years_45_49,years_50_54,years_50_59,years_55_59,years_60_64,years_60_69,years_65_69,years_70_79,years_80_89,over_90,over_100
    
    + collection_codes: 
    
    + collections_filter_type: include,exclude
    
    + exclude_nudity
    
    + fields: allowed_use,artist,asset_family,caption,clip_length,collection_code,collection_id,collection_name,color_type,comp,copyright,date_created,detail_set,display_set,editorial_segments,era,id,keywords,largest_downloads,license_model,mastered_to,originally_shot_on,preview,product_types,shot_speed,source,summary_set,thumb,title
    
    + format_available: sd,hd,4k
    
    + keyword_ids: 
    
    + license_models: rights_ready,royalty_free
    
    + page
    
    + page_size
    
    + phrase
    
    + product_types: easy_access,editorial_subscription,image_pack,premium_access,royalty_free_subscription,credit_pack
    
    + sort_order: best_match,most_popular,newest,oldest
    
    + specific_people: 

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {
                "result_count": {
                  "format": "int32",
                  "description": "Specifies the count of matching assets returned.",
                  "type": "integer"
                },
                "videos": {
                  "description": "List of video search results.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Specifies the unique identifier of the asset.",
                        "type": "string"
                      },
                      "allowed_use": {
                        "description": "Specifies how customers are allowed to use the asset.",
                        "type": "object",
                        "properties": {
                          "how_can_i_use_it": {
                            "description": "Specifies how the asset can be used.",
                            "type": "string"
                          },
                          "release_info": {
                            "description": "Specifies the release status.",
                            "type": "string"
                          },
                          "usage_restrictions": {
                            "description": "Specifies the asset usage restriction.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "artist": {
                        "description": "Specifies video creator.",
                        "type": "string"
                      },
                      "asset_family": {
                        "description": "Indicates the asset family classification. Possible values are: creative, editorial.",
                        "type": "string"
                      },
                      "caption": {
                        "description": "Gives a brief description of the video.",
                        "type": "string"
                      },
                      "clip_length": {
                        "description": "Specifies the length of the film clip (Example: \"00:00:12:08\").",
                        "type": "string"
                      },
                      "collection_id": {
                        "format": "int32",
                        "description": "Specifies the id of the collection to which the video belongs.",
                        "type": "integer"
                      },
                      "collection_code": {
                        "description": "Specifies the code of the collection to which the video belongs.",
                        "type": "string"
                      },
                      "collection_name": {
                        "description": "Specifies the name of the collection to which the video belongs.",
                        "type": "string"
                      },
                      "color_type": {
                        "description": "Specifies whether the image or video is color or black and white. Possible values are color, black_and_white, and null.",
                        "type": "string"
                      },
                      "copyright": {
                        "description": "Specifies the copyright of the video.",
                        "type": "string"
                      },
                      "date_created": {
                        "format": "date-time",
                        "description": "Specifies the date the video was created, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "display_sizes": {
                        "description": "Lists the display size information for this video.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "is_watermarked": {
                              "description": "Specifies whether the image is watermarked.",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Specifies the name of the display size.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve the display size image.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "era": {
                        "description": "The era of the video. Possible values are: archival, contemporary, and null.",
                        "type": "string"
                      },
                      "keywords": {
                        "description": "Lists the keyword entries associated with image/asset.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "keyword_id": {
                              "description": "Specifies the unique identifier for the keyword.",
                              "type": "string"
                            },
                            "text": {
                              "description": "Provides localized text of the keyword.",
                              "type": "string"
                            },
                            "type": {
                              "description": "Specifies the keyword type.",
                              "type": "string"
                            },
                            "relevance": {
                              "format": "int32",
                              "description": "Specifies the relevancy of the keyword to the asset. 0-5 or null, 5 being most relevant.",
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "largest_downloads": {
                        "description": "Lists the available largest download sizes.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "product_id": {
                              "description": "Specifies the given product based on a company agreement. Applies only to royaltyfreesubscription and imagepack.",
                              "type": "string"
                            },
                            "product_type": {
                              "description": "Specifies the license agreement applied to this download. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack, sandbox.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "POST this URI to download the asset.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "license_model": {
                        "description": "Specifies the licensing model for the video. Possible values are: royaltyfree, rightsready.",
                        "type": "string"
                      },
                      "mastered_to": {
                        "description": "Specifies the mastered to media.",
                        "type": "string"
                      },
                      "originally_shot_on": {
                        "description": "Specifies the film stock originally shot on.",
                        "type": "string"
                      },
                      "product_types": {
                        "description": "Lists the product types for the video. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "shot_speed": {
                        "description": "Specifies the speed the at which the video was shot. Possible values are: real_time, slow_motion, time_lapse, and null.",
                        "type": "string"
                      },
                      "source": {
                        "description": "Specifies the editorial source.",
                        "type": "string"
                      },
                      "title": {
                        "description": "Specifies the title given by the artist.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 400 (application/json)

    InvalidParameterValue

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 401 (application/json)

    AuthorizationTokenRequired

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 403 (application/json)

    UnauthorizedDisplaySize

    + Body

#### Search for creative videos [GET /v3/search/videos/creative]

+ Parameters

    + age_of_people: newborn,baby,child,teenager,young_adult,adult,adults_only,mature_adult,senior_adult,months_0_1,months_2_5,months_6_11,months_12_17,months_18_23,years_2_3,years_4_5,years_6_7,years_8_9,years_10_11,years_12_13,years_14_15,years_16_17,years_18_19,years_20_24,years_20_29,years_25_29,years_30_34,years_30_39,years_35_39,years_40_44,years_40_49,years_45_49,years_50_54,years_50_59,years_55_59,years_60_64,years_60_69,years_65_69,years_70_79,years_80_89,over_90,over_100
    
    + collection_codes: 
    
    + collections_filter_type: include,exclude
    
    + exclude_nudity
    
    + fields: allowed_use,artist,asset_family,caption,clip_length,collection_code,collection_id,collection_name,color_type,comp,copyright,date_created,detail_set,display_set,era,id,keywords,largest_downloads,license_model,mastered_to,originally_shot_on,preview,product_types,shot_speed,source,summary_set,thumb,title
    
    + format_available: sd,hd,4k
    
    + keyword_ids: 
    
    + license_models: rights_ready,royalty_free
    
    + page
    
    + page_size
    
    + phrase
    
    + product_types: easy_access,editorial_subscription,image_pack,premium_access,royalty_free_subscription,credit_pack
    
    + sort_order: best_match,newest

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {
                "result_count": {
                  "format": "int32",
                  "description": "Specifies the count of matching assets returned.",
                  "type": "integer"
                },
                "videos": {
                  "description": "List of video search results.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Specifies the unique identifier of the asset.",
                        "type": "string"
                      },
                      "allowed_use": {
                        "description": "Specifies how customers are allowed to use the asset.",
                        "type": "object",
                        "properties": {
                          "how_can_i_use_it": {
                            "description": "Specifies how the asset can be used.",
                            "type": "string"
                          },
                          "release_info": {
                            "description": "Specifies the release status.",
                            "type": "string"
                          },
                          "usage_restrictions": {
                            "description": "Specifies the asset usage restriction.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "artist": {
                        "description": "Specifies video creator.",
                        "type": "string"
                      },
                      "asset_family": {
                        "description": "Indicates the asset family classification. Possible values are: creative, editorial.",
                        "type": "string"
                      },
                      "caption": {
                        "description": "Gives a brief description of the video.",
                        "type": "string"
                      },
                      "clip_length": {
                        "description": "Specifies the length of the film clip (Example: \"00:00:12:08\").",
                        "type": "string"
                      },
                      "collection_id": {
                        "format": "int32",
                        "description": "Specifies the id of the collection to which the video belongs.",
                        "type": "integer"
                      },
                      "collection_code": {
                        "description": "Specifies the code of the collection to which the video belongs.",
                        "type": "string"
                      },
                      "collection_name": {
                        "description": "Specifies the name of the collection to which the video belongs.",
                        "type": "string"
                      },
                      "color_type": {
                        "description": "Specifies whether the image or video is color or black and white. Possible values are color, black_and_white, and null.",
                        "type": "string"
                      },
                      "copyright": {
                        "description": "Specifies the copyright of the video.",
                        "type": "string"
                      },
                      "date_created": {
                        "format": "date-time",
                        "description": "Specifies the date the video was created, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "display_sizes": {
                        "description": "Lists the display size information for this video.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "is_watermarked": {
                              "description": "Specifies whether the image is watermarked.",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Specifies the name of the display size.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve the display size image.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "era": {
                        "description": "The era of the video. Possible values are: archival, contemporary, and null.",
                        "type": "string"
                      },
                      "keywords": {
                        "description": "Lists the keyword entries associated with image/asset.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "keyword_id": {
                              "description": "Specifies the unique identifier for the keyword.",
                              "type": "string"
                            },
                            "text": {
                              "description": "Provides localized text of the keyword.",
                              "type": "string"
                            },
                            "type": {
                              "description": "Specifies the keyword type.",
                              "type": "string"
                            },
                            "relevance": {
                              "format": "int32",
                              "description": "Specifies the relevancy of the keyword to the asset. 0-5 or null, 5 being most relevant.",
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "largest_downloads": {
                        "description": "Lists the available largest download sizes.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "product_id": {
                              "description": "Specifies the given product based on a company agreement. Applies only to royaltyfreesubscription and imagepack.",
                              "type": "string"
                            },
                            "product_type": {
                              "description": "Specifies the license agreement applied to this download. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack, sandbox.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "POST this URI to download the asset.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "license_model": {
                        "description": "Specifies the licensing model for the video. Possible values are: royaltyfree, rightsready.",
                        "type": "string"
                      },
                      "mastered_to": {
                        "description": "Specifies the mastered to media.",
                        "type": "string"
                      },
                      "originally_shot_on": {
                        "description": "Specifies the film stock originally shot on.",
                        "type": "string"
                      },
                      "product_types": {
                        "description": "Lists the product types for the video. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "shot_speed": {
                        "description": "Specifies the speed the at which the video was shot. Possible values are: real_time, slow_motion, time_lapse, and null.",
                        "type": "string"
                      },
                      "source": {
                        "description": "Specifies the editorial source.",
                        "type": "string"
                      },
                      "title": {
                        "description": "Specifies the title given by the artist.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 400 (application/json)

    InvalidParameterValue

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 401 (application/json)

    AuthorizationTokenRequired

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 403 (application/json)

    UnauthorizedDisplaySize

    + Body

#### Search for editorial videos [GET /v3/search/videos/editorial]

+ Parameters

    + age_of_people: newborn,baby,child,teenager,young_adult,adult,adults_only,mature_adult,senior_adult,months_0_1,months_2_5,months_6_11,months_12_17,months_18_23,years_2_3,years_4_5,years_6_7,years_8_9,years_10_11,years_12_13,years_14_15,years_16_17,years_18_19,years_20_24,years_20_29,years_25_29,years_30_34,years_30_39,years_35_39,years_40_44,years_40_49,years_45_49,years_50_54,years_50_59,years_55_59,years_60_64,years_60_69,years_65_69,years_70_79,years_80_89,over_90,over_100
    
    + collection_codes: 
    
    + collections_filter_type: include,exclude
    
    + entity_uris: 
    
    + exclude_nudity
    
    + fields: allowed_use,artist,asset_family,caption,clip_length,collection_code,collection_id,collection_name,color_type,comp,copyright,date_created,detail_set,display_set,editorial_segments,era,id,keywords,largest_downloads,license_model,mastered_to,originally_shot_on,preview,product_types,shot_speed,source,summary_set,thumb,title
    
    + format_available: sd,hd,4k
    
    + keyword_ids: 
    
    + page
    
    + page_size
    
    + phrase
    
    + product_types: easy_access,editorial_subscription,image_pack,premium_access,royalty_free_subscription,credit_pack
    
    + sort_order: best_match,most_popular,newest,oldest
    
    + specific_people: 

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {
                "result_count": {
                  "format": "int32",
                  "description": "Specifies the count of matching assets returned.",
                  "type": "integer"
                },
                "videos": {
                  "description": "List of video search results.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Specifies the unique identifier of the asset.",
                        "type": "string"
                      },
                      "allowed_use": {
                        "description": "Specifies how customers are allowed to use the asset.",
                        "type": "object",
                        "properties": {
                          "how_can_i_use_it": {
                            "description": "Specifies how the asset can be used.",
                            "type": "string"
                          },
                          "release_info": {
                            "description": "Specifies the release status.",
                            "type": "string"
                          },
                          "usage_restrictions": {
                            "description": "Specifies the asset usage restriction.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "artist": {
                        "description": "Specifies video creator.",
                        "type": "string"
                      },
                      "asset_family": {
                        "description": "Indicates the asset family classification. Possible values are: creative, editorial.",
                        "type": "string"
                      },
                      "caption": {
                        "description": "Gives a brief description of the video.",
                        "type": "string"
                      },
                      "clip_length": {
                        "description": "Specifies the length of the film clip (Example: \"00:00:12:08\").",
                        "type": "string"
                      },
                      "collection_id": {
                        "format": "int32",
                        "description": "Specifies the id of the collection to which the video belongs.",
                        "type": "integer"
                      },
                      "collection_code": {
                        "description": "Specifies the code of the collection to which the video belongs.",
                        "type": "string"
                      },
                      "collection_name": {
                        "description": "Specifies the name of the collection to which the video belongs.",
                        "type": "string"
                      },
                      "color_type": {
                        "description": "Specifies whether the image or video is color or black and white. Possible values are color, black_and_white, and null.",
                        "type": "string"
                      },
                      "copyright": {
                        "description": "Specifies the copyright of the video.",
                        "type": "string"
                      },
                      "date_created": {
                        "format": "date-time",
                        "description": "Specifies the date the video was created, in ISO 8601 format (e.g., 1999-12-31T00:00:00-00:00).",
                        "type": "string"
                      },
                      "display_sizes": {
                        "description": "Lists the display size information for this video.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "is_watermarked": {
                              "description": "Specifies whether the image is watermarked.",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Specifies the name of the display size.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "GET this URI to retrieve the display size image.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "era": {
                        "description": "The era of the video. Possible values are: archival, contemporary, and null.",
                        "type": "string"
                      },
                      "keywords": {
                        "description": "Lists the keyword entries associated with image/asset.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "keyword_id": {
                              "description": "Specifies the unique identifier for the keyword.",
                              "type": "string"
                            },
                            "text": {
                              "description": "Provides localized text of the keyword.",
                              "type": "string"
                            },
                            "type": {
                              "description": "Specifies the keyword type.",
                              "type": "string"
                            },
                            "relevance": {
                              "format": "int32",
                              "description": "Specifies the relevancy of the keyword to the asset. 0-5 or null, 5 being most relevant.",
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "largest_downloads": {
                        "description": "Lists the available largest download sizes.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "product_id": {
                              "description": "Specifies the given product based on a company agreement. Applies only to royaltyfreesubscription and imagepack.",
                              "type": "string"
                            },
                            "product_type": {
                              "description": "Specifies the license agreement applied to this download. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack, sandbox.",
                              "type": "string"
                            },
                            "uri": {
                              "description": "POST this URI to download the asset.",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "license_model": {
                        "description": "Specifies the licensing model for the video. Possible values are: royaltyfree, rightsready.",
                        "type": "string"
                      },
                      "mastered_to": {
                        "description": "Specifies the mastered to media.",
                        "type": "string"
                      },
                      "originally_shot_on": {
                        "description": "Specifies the film stock originally shot on.",
                        "type": "string"
                      },
                      "product_types": {
                        "description": "Lists the product types for the video. Possible values are: premiumaccess, easyaccess, editorialsubscription, imagepack, royaltyfreesubscription, creditpack.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "shot_speed": {
                        "description": "Specifies the speed the at which the video was shot. Possible values are: real_time, slow_motion, time_lapse, and null.",
                        "type": "string"
                      },
                      "source": {
                        "description": "Specifies the editorial source.",
                        "type": "string"
                      },
                      "title": {
                        "description": "Specifies the title given by the artist.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 400 (application/json)

    InvalidParameterValue

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 401 (application/json)

    AuthorizationTokenRequired

    + Body

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 403 (application/json)

    UnauthorizedDisplaySize

    + Body

## Group Images

#### Get metadata for multiple images by supplying multiple image ids [GET /v3/images]

+ Parameters

    + ids:  (required)
    
    + fields: allowed_use,alternative_ids,artist,artist_title,asset_family,call_for_image,caption,city,collection_code,collection_id,collection_name,color_type,comp,copyright,country,credit_line,date_camera_shot,date_created,date_submitted,detail_set,display_set,download_sizes,downloads,editorial_segments,editorial_source,event_ids,graphical_style,id,keywords,largest_downloads,license_model,links,max_dimensions,orientation,people,prestige,preview,product_types,quality_rank,referral_destinations,state_province,summary_set,thumb,title,uri_oembed

+ Request

    + Headers

            Accept: application/json
            Api-Key: [api-key] 
            Accept-Language: [language-code]  
            Authorization: Bearer [access-token] 

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {
                "images": {
                  "description": "List of image identifiers found.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "allowed_use": {
                        "description": "Specifies how customers are allowed to use the image.",
                        "type": "object",
                        "properties": {
                          "how_can_i_use_it": {
                            "description": "Specifies how the asset can be used.",
                            "type": "string"
                          },
                          "release_info": {
                            "description": "Specifies the release status.",
                            "type": "string"
                          },
                          "usage_restrictions": {
                            "description": "Specifies the asset usage restriction.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
[...]
